 @import 'mixins'; // 0-无 1-淡入 2-放大 3-翻转 4-呼吸 5-弹跳 6-刀光 7-摆动 8-波纹 9-声波
 @import 'variables'; // 0-无 1-淡入 2-放大 3-翻转 4-呼吸 5-弹跳 6-刀光 7-摆动 8-波纹 9-声波
 /**
 * fadeInOut 淡入
 */

 @include keyframes(fadeIn) {
 	0% {
 		@include opacity(0);
 	}
 	100% {
 		@include opacity(1);
 	}
 }
 /**
* 放大
*/

 @include keyframes(pulse) {
 	0% {
 		opacity: 0;
 		transform: scale(.3)
 	}
 	50% {
 		opacity: 1;
 		transform: scale(1.05)
 	}
 	70% {
 		transform: scale(.9)
 	}
 	100% {
 		opacity: 1;
 		transform: scale(1)
 	}
 }
 /**
* 翻转
*/

 @include keyframes(flip) {
 	25% {
 		transform: rotateY(360deg);
 	}
 	100% {
 		transform: rotateY(360deg);
 	}
 }
 /**
* 红包翻转
*/

 @include keyframes(hongbao-flip) {
 	from {
 		opacity: 0;
 		transform: scale(0, 0) rotateY(0) perspective(600px);
 	}
 	to {
 		opacity: 1;
 		transform: scale(1, 1) rotateY(1800deg) perspective(600px);
 	}
 }
 /**
 * breathe呼吸
 */

 @include keyframes(breathe) {
 	from {
 		box-shadow: $breathe-start-shadow;
 	}
 	to {
 		box-shadow: $breathe-end-shadow;
 	}
 }
 /**
* 弹跳
*/

 @include keyframes(bounce) {
 	0% {
 		transform: translateY(10%);
 	}
 	100% {
 		transform: translateY(-30%);
 	}
 }
 /**
* 刀光
*/

 @include keyframes(blade) {
 	from {
 		opacity: 0.8;
 		transform: skew(-30deg);
 		left: -30%;
 	}
 	to {
 		opacity: 0;
 		transform: skew(-30deg);
 		left: 130%
 	}
 }
 /**
* 摆动
*/

 @include keyframes(swing) {
 	20% {
 		transform: rotate3d(0, 0, 1, 15deg);
 	}
 	40% {
 		transform: rotate3d(0, 0, 1, -10deg);
 	}
 	60% {
 		transform: rotate3d(0, 0, 1, 5deg);
 	}
 	80% {
 		transform: rotate3d(0, 0, 1, -5deg);
 	}
 	to {
 		transform: rotate3d(0, 0, 1, 0deg);
 	}
 }

 @include keyframes(lightSpeedIn) {
 	from {
 		transform: translate3d(100%, 0, 0) skewX(-30deg);
 		opacity: 0;
 	}
 	60% {
 		transform: skewX(20deg);
 		opacity: 1;
 	}
 	80% {
 		transform: skewX(-5deg);
 		opacity: 1;
 	}
 	to {
 		transform: none;
 		opacity: 1;
 	}
 }
 /**
* 波纹
*/

 @keyframes ripple {}

@mixin lightSpeedIn($duration:1000ms) {
 	@include animation(lightSpeedIn ease-out $duration)
	
}
 @mixin fadeIn($duration:2000ms) {
 	@include animation(fadeIn $duration)
 }

 @mixin pulse($duration:500ms) {
 	@include animation(pulse $duration)
 }

 @mixin flip($duration:4000ms) {
 	@include animation(flip $duration)
 }

 @mixin hongbao-flip($duration:2000ms, $mode:'both', $timing:'cubic-bezier(0.25, 0.1, 0.01, 0.96)') {
 	@include animation(hongbao-flip $duration $mode $timing)
 }

 @mixin breathe($duration:1000ms) {
 	@include animation(breathe $duration alternate ease-in-out infinite)
 }

 @mixin bounce($duration:1000ms) {
 	@include animation(bounce $duration alternate infinite)
 }

 @mixin blade($duration:1.6s) {
 	@include animation(blade $duration infinite)
 }

 @mixin swing($duration:1.6s) {
 	@include animation(swing $duration both infinite);
 	@include transform-origin(center);
 }