/**
* theme color
*/

$red: #F00;
$blue: #00F;
$white: #FFF;
$gray: #999;
$black: #000;

/**
* toadst color
*/

$success: #009688;
$error:#e91e63;
$info:#673ab7;
$warn:#ff5722;

/**
* breathe shadow var
*/

$breathe-start-shadow: 0 0 0 0 $white;
$breathe-end-shadow: 0 0 10px 3px $white;